/.htaccess
/app/.config.php
/utility/*
!/utility/contest_scripts/*
!/utility/group_scripts/*
/js/*
!/js/blog-editor/blog-editor.js
!/css/soj-theme.css
!/js/soj.js
/fonts/*
/css/*
/pictures/*
/app/storage/*
/uploads/*
/app/upgrade/*
/app/vendor/*